.imageIntro
{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid #4f4f4f;
}

.intro
{
  padding-top :50px;
  padding-bottom: :20px;
}

.nom
{
    margin-top : 20px;
    font-size: 60px;
    color : black;
    font-family: 'Sanchez', sans-serif;
}

.info
{
    margin-top : 5px;
    font-size: 20px;
    color : black;
    font-family: 'Sanchez', sans-serif;
}

.imageInfo
{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 10px inset solid #232b50;
}
