.projet {
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    width :100%;
    height:95vh;
    margin-left: 50px;
}
.projet.load {
    opacity: 1;
}
.projet.unload {
    opacity: 0;
}
